<!doctype html>
<title>Slide Viewer</title>

<style type="text/css">
html {
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
}
div#view {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 1px solid #000;
    color: white;
}
</style>

<div id="view"></div>

<script type="text/javascript" src="static/jquery.js"></script>
<script type="text/javascript" src="static/OpenSeadragon.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var viewer;

    function open_slide(url) {
        if (viewer) {
            // Never reuse an existing viewer to avoid a timer leak
            // (OpenSeadragon issue #14)
            viewer.close();
            $("#view").text("");
        }
        viewer = new Seadragon.Viewer("view");
        viewer.config.animationTime = 0.5;
        viewer.config.blendTime = 0.1;
        viewer.config.zoomPerScroll = 2;
        viewer.openDzi(url);
    }

    open_slide("{{ slide_url }}");
});
</script>
