<!doctype html>
<title>{{ slide_filename }}</title>

<style type="text/css">
html {
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
}
div#view {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 1px solid #000;
    color: white;
}
</style>

<div id="view"></div>

<script type="text/javascript" src="{{ url_for('static', filename='openseadragon.js') }}"></script>
<script type="text/javascript">
window.addEventListener('load', function() {
    var static_path = "{{ url_for('static', filename='') }}";
    // Fix double slash
    static_path = static_path.substring(0, static_path.length - 1);

    var viewer = new OpenSeadragon({
        id: "view",
        tileSources: "{{ slide_url }}",
        prefixUrl: static_path,
        animationTime: 0.5,
        blendTime: 0.1,
        maxZoomPixelRatio: 1,
        zoomPerScroll: 2,
    });
    viewer.addHandler("open", function() {
        // Hack: we can't properly configure the TileSource's minLevel when
        // it is created from DZI XML
        viewer.source.minLevel = 8;
    });
}, false);
</script>
